

  <div class = "row top fullWidth collapse">
    <div class = "large-6 columns top__left primary">
    <div class = "top__hook">
      <div class = "row">
        <h3 class = "spacing intro">What's the matter?</h3>
      </div>
      <div class = "row">
        <div class = "small-11 small-offset-1 columns">
          <h2 class = "spacing intro">Don't have your CRUD together? </h2>
        </div>
      </div>
      <div class = "row">
        <h2 class = "spacing intro">Looks like you need a . . .</h2>
      </div>
      <div class = "row">
        <div class = "small-6 small-offset-6 columns">
          <h1 class = "secondary large"><strong> CRUDlist</strong> </h1>
        </div>
      </div>
    </div>
  </div>
    <div class = " large-6 columns">

      <div class = "top__right">
      <div class = "row">
        <h1 class = "text-center secondary large"><strong>CRUDlist</strong></h1>
      </div>
      <div class = "row">
        <h3 class = "text-center secondary">an easy way to manage your CRUD ops.</h3>
      </div>
      <div class = "row">
        <h3 class = "text-center secondary">It's totally free. Go ahead. The pleasure's all mine.</h3>
      </div>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class = "row">
    <div class = "small-6 small-offset-3 columns">
      <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
    </div>
  </div>

  <div class = "row">
    <div class = "small-6 small-offset-3 columns">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password (8 characters minimum)" %>
    </div>
  </div>

  <div class = "row">
    <div class = "small-6 small-offset-3 columns">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
    </div>
  </div>

  <div class = "row">
    <div class = "small-6 small-centered columns">
      <%= f.submit "Sign up", class: "button expand" %>
    </div>
  </div>
<% end %>
  <div class = "row">
    <div class = "small-6 small-centered columns">
      <h3 class = "text-center"> Or </h3>
    </div>
  </div>

  <div class = "row">
    <div class = "small-6 small-centered columns">
      <%=link_to "Sign in", new_user_session_path, class: "button expand" %>
    </div>
  </div>

  <div class = "row">
    <div class = "small-2 small-offset-10 show-for-large-up columns">
      <div class = "down__arrow"></div>
    </div>
  </div>

</div>
    </div>
</div> <!-- TOP -->

<hr class = "hide-for-large-up">

  <div class = "row bottom fullWidth collapse">
    <div class = "large-6 columns bottom__left">
    <div class = "bottom__hook">
      <div class = "row">
        <h1 class = "text-center primary "><strong>So . . . What is it?</strong></h1>
      </div>
      <div class = "row">
        <div class = "small-8 columns small-centered">
          <h3 class = "text-center primary"> CRUD, for those who wish to use this app, should stand for:</h3>
        </div>
      </div>
      <div class = "row">
        <div class = "small-8 columns small-centered">
          <h3 class = "text-center secondary"> Create</h3>
        </div>
      </div>

      <div class = "row">
        <div class = "small-8 columns small-centered">
          <h3 class = "text-center secondary">Read</h3>
        </div>
      </div>

      <div class = "row">
        <div class = "small-8 columns small-centered">
          <h3 class = "text-center secondary">Update</h3>
        </div>
      </div>

      <div class = "row">
        <div class = "small-8 columns small-centered">
          <h3 class = "text-center secondary">Delete</h3>
        </div>
      </div>

      <div class = "row">
        <div class = "small-8 columns small-centered">
          <h3 class = "text-center primary">The CRUDlist allows you to:</h3>
        </div>
      </div>

      <div class = "row">
        <div class = "small-10 columns small-centered">
          <h3 class = "text-center primary"><strong>1.</strong> Create Projects</h3>
        </div>
      </div>

      <div class = "row">
        <div class = "small-10 columns small-centered">
          <h3 class = "text-center primary"><strong>2.</strong> Create Resources/Models for your Projects</h3>
        </div>
      </div>

      <div class = "row">
        <div class = "small-10 columns small-centered">
          <h3 class = "text-center primary"><strong>3.</strong> Track the completion of your CRUD ops per model</h3>
        </div>
      </div>

    </div>
  </div>

  <div class = " large-6 columns">

    <div class = "top__right">

      <div class = "row">
        <div class = "small-10 columns small-centered">
          <h3 class = "text-center primary">It should be fairly straighforward. CRUD ops can
            be "done," "in progress," "not started," or "not applicable." At a future date,
            I plan to make this more mobile friendly, and enable you to make notes for each model's ops, so you can 
            keep track of the little things (validations, bugs, etc). I also want to make 
            sure it is fully responsive. Hopefully, this should help you make your web 
            development workflow cleaner and faster.
          </h3>
        </div>
      </div>

      <div class = "small-10 columns small-centered bottom__right__labels">
      <div class = "small-block-grid-4">
        <li><%=image_tag("Done.png")%></li>
        <li><%=image_tag("InProgress.png")%></li>
        <li><%=image_tag("NotApplicable.png")%></li>
        <li><%=image_tag("NotStarted.png")%></li>
      </div>
      <div class = "small-block-grid-4">
        <li><h4 class = "text-center secondary"> Done </h4></li>
        <li><h4 class = "text-center secondary"> In Progress</h4></li>
        <li><h4 class = "text-center secondary"> Not Applicable </h4></li>
        <li><h4 class = "text-center secondary"> Not Started </h4></li>
      </div>
    </div>

    </div>

  </div>

</div> <!-- BOTTOM -->

  <hr>

  <div class = "row fullWidth ">
    <div class = "large-4 small-centered columns text-center">
      <h2> Screenshots </h2>
    </div>
  </div>
 
  <hr>
  
  <div class = "row fullWidth">
    <div class = "large-10 small-centered columns text-center"> 
      <%= image_tag("HelpProjectsIndex.png", class: "screenshots") %>
    </div>
  </div>
  <div class = "row fullWidth">
    <div class = "large-10 small-centered columns text-center"> 
      <%= image_tag("HelpProjectShow.png", class: "screenshots") %>
    </div>
  </div>
  </div>
