<div class="row">
  <div class = "small-4 small-centered columns">
    <h1 class = "primary">Your Projects</h1>
  </div>
</div>
<div id="projectList">
<% if @projects != nil %>
  <% @projects.each do |project| %>
      <%= content_tag :div, class: "row", id: "projectSummary#{project.id}" do %>
    <%= render project %>
  <%end%>
  <%end %>
<%end%>
</div>

<h1> Add a project</h1>
<div class = "row">
<%= form_for :project, url: user_projects_path(current_user) do |f| %>
  <ul class="inline-list">
    <div class = "small-5 columns">
    <li><%= f.text_field :title, :placeholder => "Project Title", class: "small-5.columns" %></li>
    </div>
    <div class = "small-5 columns">
    <li><%= f.submit "Add", class: "button text-center" %></li>
    </div>
  </ul>
<% end %>
</div>

