<h1><%= @project.title %></h1>
    <%= form_tag user_project_path(current_user, @project), :method => :delete do %>
      <% submit_tag "Delete", data: {confirm: "Are you sure?"} %>
    <%end%>
    <div class = "row crud">
      <div class = "small-3 columns">
        <h2>CREATE</h2>
      </div>
      <div class = "small-3 columns">
        <h2>READ</h2>
      </div>
      <div class = "small-3 columns">
        <h2>EDIT</h2>
      </div>
      <div class = "small-3 columns">
        <h2>DELETE</h1>
      </div>
    </div>

<% @project.models.each do |model| %>
   <h3><%= model.name %></h3>
  <div class = "row models">
    <div class = "small-3 columns">
      <%= form_tag(user_project_model_path(current_user, @project, model), :method => :patch, id: "model__select__#{model.id}", remote: true) do %>
        <%= select_tag(:CRUDcreate, options_for_select(['0','1','2',"3"]), selected: model.CRUDcreate, id: "model__change__#{model.id}", modelID: model.id, projectID: @project.id, userID: current_user.id )%>
      <% end %>
    </div>
   <div class = "small-3 columns">  
      <%= form_tag(user_project_model_path(current_user, @project, model), :method => :update, id: "model__select__#{model.id}", remote: true) do %>
        <%= select_tag(:CRUDread, options_for_select(['0','1','2',"3"]), selected: model.CRUDread, id: "model__change__#{model.id}", modelID: model.id, projectID: @project.id, userID: current_user.id )  %>
      <% end %>
    </div>
   <div class = "small-3 columns"> 
      <%= form_tag(user_project_model_path(current_user, @project, model), :method => :update, id: "model__select__#{model.id}", remote: true) do %>
        <%= select_tag(:CRUDupdate, options_for_select(['0','1','2',"3"]), selected: model.CRUDupdate, id: "model__change__#{model.id}", modelID: model.id, projectID: @project.id, userID: current_user.id  ) %>
      <% end %>
    </div>
   <div class = "small-3 columns"> 
      <%= form_tag(user_project_model_path(current_user, @project, model), :method => :update, id: "model__select__#{model.id}", remote: true) do %>
        <%= select_tag(:CRUDdestroy, options_for_select(['0','1','2',"3"]), selected: model.CRUDdestroy, id: "model__change__#{model.id}", modelID: model.id, projectID: @project.id, userID: current_user.id  ) %>
      <% end %>
    </div>
  </div>
      <%= form_tag user_project_model_path(current_user, @project, model),  :method => 'delete' do %>
        <%=submit_tag "Delete", data: {confirm: 'Are you sure'} %>
      <%end %>
    </div>
<% end %>

<%=form_for :model, url: user_project_models_path(current_user,@project) do |f| %>
  <%= f.text_field :name, :placeholder => "Name" %>
  <%= f.submit %>
<% end %>
