  <div class = "row top fullWidth collapse">
    <div class = "large-6 columns top__left">
    <div class = "top__hook">
      <div class = "row">
        <h3 class = "spacing intro">What's the matter?</h3>
      </div>
      <div class = "row">
        <div class = "small-11 small-offset-1 columns">
          <h2 class = "spacing intro">Don't have your CRUD together? </h2>
        </div>
      </div>
      <div class = "row">
        <h2 class = "spacing intro">Looks like you need a . . .</h2>
      </div>
      <div class = "row">
        <div class = "small-6 small-offset-6 columns">
          <h1 class = "secondary large"><strong> CRUDlist</strong> </h1>
        </div>
      </div>
    </div>
  </div>
    <div class = "large-6 columns">

      <div class = "top__right">
      <div class = "row">
        <h1 class = "text-center secondary large"><strong>CRUDlist</strong></h1>
      </div>
      <div class = "row">
        <h3 class = "text-center secondary">an easy way to manage your CRUD ops.</h3>
      </div>
      <div class = "row">
        <h3 class = "text-center secondary">It's totally free. Go ahead. The pleasure's all mine.</h3>
      </div>


<% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :class => "flash__login__error" if msg.is_a?(String) %>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class = "row">
    <div class = "small-6 small-offset-3 columns">
      <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "login-form" %>
    </div>
  </div>

  <div class = "row">
    <div class = "small-6 small-offset-3 columns">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "login-form" %></div>
    </div>
  </div>

  <div class = "row">
    <div class = "small-6 small-offset-3 columns">
  <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me, class: "text-center" %> <%= f.label :remember_me , class: "text-center"%></div>
  <% end -%>
    </div>
  </div>

  <div class = "row">
    <div class = "small-6 small-centered columns">
      <%= f.submit "Sign in", class: "button expand" %>
    </div>
  </div>
<% end %>
  <div class = "row">
    <div class = "small-6 small-centered columns">
      <%= link_to "Forgot Password?", new_user_password_path, class: "button expand" %>
    </div>
  </div>

  <div class = "row">
    <div class = "small-6 small-centered columns">
      <h3 class = "text-center"> Or </h3>
    </div>
  </div>
  <div class = "row">
    <div class = "small-6 small-centered columns">
      <%= link_to "Sign up", new_user_registration_path, class: "button expand" %>
    </div>
  </div>

      </div>
</div> <!-- TOP -->

  <div class = "row bottom fullWidth collapse">
    <div class = "large-6 columns bottom__left">
    <div class = "bottom__hook">
      <div class = "row">
        <h1 class = "text-center primary "><strong>So . . . What is it?</strong></h1>
      </div>
      <div class = "row">
        <div class = "small-8 columns small-centered">
          <h3 class = "text-center primary"> CRUD, for those who wish to use this app, should stand for:</h3>
        </div>
      </div>
      <div class = "row">
        <div class = "small-8 columns small-centered">
          <h3 class = "text-center secondary"> Create</h3>
        </div>
      </div>

      <div class = "row">
        <div class = "small-8 columns small-centered">
          <h3 class = "text-center secondary">Read</h3>
        </div>
      </div>

      <div class = "row">
        <div class = "small-8 columns small-centered">
          <h3 class = "text-center secondary">Update</h3>
        </div>
      </div>

      <div class = "row">
        <div class = "small-8 columns small-centered">
          <h3 class = "text-center secondary">Delete</h3>
        </div>
      </div>

      <div class = "row">
        <div class = "small-8 columns small-centered">
          <h3 class = "text-center primary">The CRUDlist allows you to:</h3>
        </div>
      </div>

      <div class = "row">
        <div class = "small-10 columns small-centered">
          <h3 class = "text-center primary"><strong>1.</strong> Create Projects</h3>
        </div>
      </div>

      <div class = "row">
        <div class = "small-10 columns small-centered">
          <h3 class = "text-center primary"><strong>2.</strong> Create Resources/Models for your Projects</h3>
        </div>
      </div>

      <div class = "row">
        <div class = "small-10 columns small-centered">
          <h3 class = "text-center primary"><strong>3.</strong> Track the completion of your CRUD ops per model</h3>
        </div>
      </div>

    </div>
  </div>

  <div class = "large-6 columns">

    <div class = "top__right">

      <div class = "row">
        <div class = "small-10 columns small-centered">
          <h3 class = "text-center primary">It should be fairly straighforward. CRUD ops can
            be "done," "in progress," "not started," or "not applicable." At some future date,
            I plan to make it so that you can make notes for each model's ops, so you can 
            keep track of the little things (validations, bugs, etc). Hopefully, this 
            should help you.
          </h3>
        </div>
      </div>

      <div class = "small-10 columns small-centered bottom__right__labels">
      <div class = "small-block-grid-4">
        <li><%=image_tag("Done.png")%></li>
        <li><%=image_tag("InProgress.png")%></li>
        <li><%=image_tag("NotApplicable.png")%></li>
        <li><%=image_tag("NotStarted.png")%></li>
      </div>
      <div class = "small-block-grid-4">
        <li><h4 class = "text-center secondary"> Done </h4></li>
        <li><h4 class = "text-center secondary"> In Progress</h4></li>
        <li><h4 class = "text-center secondary"> Not Applicable </h4></li>
        <li><h4 class = "text-center secondary"> Not Started </h4></li>
      </div>
    </div>

    </div>

  </div>

</div> <!-- BOTTOM -->
